body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo {
    text-align: center;
}
 
.menu {
    padding: 20px;
    background-color: #F0B429;
    width: 100%;
}
.tabla{
    width: 80%;
    margin: 40px;
}

